:root {
    /* Colors */
    --text: #FFCB9A;
    --textDark: #D9B08C;
    --bgLight: #D1E8E2;
    --bgMedium: #116466;
    --bgDark: #2C3531;
}

/* Main Page Layout */
.container {    
    display: flex;    
    min-height: 100vh;
}

.container > .lNav, .container > .rSideSpace {
    width: 21vw;
    background-color: var(--bgLight)
}

.container > .ctr {
    flex: 0 0 58vw; 
    background-color: var(--bgDark);
    color: var(--text);
    align-content: center;
}

/* Center Tiles */
#midTilesContainer {
    display: flex;
    max-width: 58vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.midTiles {
    background-color: var(--bgLight);
    height: 500px;
    width: 300px;
    margin: 30px 10px 30px 10px;
}

/* Styling */
.lnav > a {
    text-decoration: none;
}

.lnav > li {
    list-style: none;
}