:root {
    /* mainText */
    --text: #FFCB9A;
}

/* Layout */
.container {    
    display: flex;    
    min-height: 100vh;
}

.container > .lNav, .container > .rSideSpace {
    width: 21vw;
    background-color: #D1E8E2;
}

.container > .ctr {
    flex: 0 0 58vw; 
    background-color: #2C3531;
    color: var(--text);
    text-align: center;
}

/* Styling */
a {
    text-decoration: none;
}

li {
    list-style: none;
}